services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: cardak_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password

  redis:
    image: redis:7-alpine

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  worker:
    build: .
    volumes:
      - .:/app
    depends_on:
      - redis